<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Forçar HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  
  # Se o arquivo ou diretório existir fisicamente, serve normalmente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Caso contrário, redireciona para index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>
